/*
* AADL Pure CSS Dropdown Toggle Component
*
Copyright 2024 Ann Arbor District Library

This file is part of AADL UI Components.

AADL UI Components is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

AADL UI Components is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with AADL UI Components. If not, see <https://www.gnu.org/licenses/>. 
*/
    .aadl-toggle{
        position:relative;

    }

    .aadl-toggle-text{
        width:100%;
        box-sizing:border-box;
        display:flex;
        justify-content: left;
        align-items:center;
    }
    

    .aadl-toggle input.aadl-toggle-check{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        opacity: 0;
    }

    .aadl-toggle input.aadl-toggle-check:focus-visible ~ .aadl-toggle-text{
        box-shadow: 0px 0px 2px 2px #8ec6ff;
    }

    .aadl-toggle input.aadl-toggle-check:focus-visible ~ .aadl-toggle-text:after{
        content:"( Press spacebar to open )";
        font-size:0.8em;
        margin-left:2em;
    }
    
    .aadl-toggle input.aadl-toggle-check ~ .aadl-toggle-content{

        width:100%;
        max-height:0px;
        transition:max-height 0.3s ease-out 0s, height 0.5s ease-out 0s;
        overflow:hidden;
    }



    .aadl-toggle input.aadl-toggle-check:checked ~ .aadl-toggle-content{
        position:relative;
        max-height:900px;
        transition:max-height 0.3s ease-in 0s;
    }



    .aadl-toggle-arrow{
        width:0.7em;
        height:0.7em;
        position:relative;
        float:right;
        margin-left:0.2em;
        transition:transform 0.2s ease;
        pointer-events:none;
    }

    .aadl-toggle-arrow .aadl-toggle-arrow-top,   .aadl-toggle-arrow .aadl-toggle-arrow-bottom{
        display:inline-block;
        position:absolute;
        box-sizing:border-box;
        width:0.6em;
        height:0px;
        border:2px solid #000000;
        background:#000000;
        border-radius:2px;
        transform-origin: right center;
        background:#000000;
        top:50%;
        right:0;
        transform:translate(0%, -50%);

    }
    .aadl-toggle-arrow .aadl-toggle-arrow-top{
        transform:translate(0%, -70%) rotate(-45deg);

    }
    
    .aadl-toggle-arrow .aadl-toggle-arrow-bottom{

       transform:translate(0%, -30%) rotate(45deg);
    }


    .aadl-toggle input.aadl-toggle-check:checked ~ .aadl-toggle-text .aadl-toggle-arrow{
        transform:rotate(90deg);
    }

    .aadl-toggle input.aadl-toggle-check:checked ~ .aadl-toggle-text span.mobile-only{
        visibility: hidden;
    }

    .aadl-toggle input.aadl-toggle-check:checked ~ .aadl-toggle-text span.mobile-only:after{
        content: "Close Menu";
        visibility: visible;
        position: absolute;
        left: 0px;
        pointer-events:none;
    }


    .mobile-only{
        display:block;
    }
    .desktop-only{
        display:none;
    }

    /*
    * desktop
    */
    @media screen and (min-width: 768px) {

        .mobile-only{
            display:none;
        }
        
        .desktop-only{
            display:block;
        }

        .aadl-toggle-text{
            padding:0.5em 0;
        }


        .aadl-toggle input.aadl-toggle-check ~ .aadl-toggle-content.no-desktop-toggle{
            position:relative;
            max-height:12000px;
            transition:max-height 0s ease-in 0s;
        }


    }
